@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  width: 100%;
  place-items: center;
}

a,
.green {
  text-decoration: none;
  color: rgb(243, 109, 127);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    place-items: center;
  }

  #app {
    display: flex;
    padding: 0 2rem;
    width: 100%;
    place-items: center;
  }
}
